################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CSharpProgramRunner/obj/Debug
/CSharpProgramRunner/bin/Debug
/.vs/CSharpProgramRunner/v16/Server/sqlite3
